<div class="heading">
  <h3>MORE ABOUT KI</h3>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <div class="more-about-container" fxLayout="row wrap" fxLayoutAlign="center">
    <div class="more-about-img-box">
      <img src="../../assets/profile_img.jpg">
      <a href="https://material.angular.io/guide/theming">
        <div class="more-about-img-overlay">
            <div class="more-about-link-content" fxLayout="column" fxLayoutAlign="center center">
                <mat-icon class="icon">camera_alt</mat-icon>
                <div class="text">Click to see more Photos</div>
              </div>
        </div>
      </a>
    </div>

    <a href="https://material.angular.io/guide/theming">
      <div class="more-about-link-box">
        <div class="more-about-link-content" fxLayout="column" fxLayoutAlign="center center">
          <mat-icon class="icon">camera_alt</mat-icon>
          <div class="text">Click to see more Photos</div>
        </div>
      </div>
    </a>
    
    <div class="more-about-img-box">
      <img src="../../assets/profile_img.jpg">
      <a href="https://material.angular.io/guide/theming">
        <div class="more-about-img-overlay">
            <div class="more-about-link-content" fxLayout="column" fxLayoutAlign="center center">
                <mat-icon class="icon">camera_alt</mat-icon>
                <div class="text">Click to see more Photos</div>
              </div>
        </div>
      </a>
    </div>
  </div>
</div>