<div class="about-background" fxLayout="row wrap" fxLayoutAlign="center center">
  <div class="about-img-container" fxFlex="0 1 34%" fxFlex.lt-md="47%" fxFlex.lt-sm="85%">
    <img src="../../assets/profile_img.jpg">
  </div>
  <div class="about-description-container" fxFlex="0 1 34%" fxFlex.lt-md="47%" fxFlex.lt-sm="85%">
    <div class="about-description-content">
      <h3>{{name}}</h3>
      <p>
        {{description}}
      </p>
      <button mat-raised-button color="primary">Resume</button>
    </div>
  </div>
</div>