<mat-toolbar class="fixed-toolbar mat-elevation-z6">
  <div class="container">
    <a mat-button class="title" routerLink="/home">
      <h4>{{title}}</h4>
    </a>
    <span class="nav-gap"></span>

    <nav *ngIf="!(isHandset$ | async)">
      <a mat-button [matMenuTriggerFor]="aboutMenu">About</a>
      <mat-menu #aboutMenu="matMenu">
        <button mat-menu-item (click)="toSection('top')">About Ki</button>
        <button mat-menu-item (click)="toSection('education')">Education</button>
        <button mat-menu-item (click)="toSection('skills')">Skills</button>
        <button mat-menu-item (click)="toSection('photos')">Photos</button>
      </mat-menu>
      <a routerLink="/projects" mat-button>Projects</a>
      <a href="" mat-button>Resume</a>
      <a mat-button (click)="toContact()">Contact</a>
    </nav>

    <button mat-icon-button [matMenuTriggerFor]="rootMenu" *ngIf="isHandset$ | async">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #rootMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="aboutSubMenu">About</button>
      <button mat-menu-item routerLink="/projects">Projects</button>
      <button mat-menu-item (click)="toContact()">Contact</button>
    </mat-menu>

    <mat-menu #aboutSubMenu="matMenu">
      <button mat-menu-item (click)="toSection('top')">About Ki</button>
      <button mat-menu-item (click)="toSection('education')">Education</button>
      <button mat-menu-item (click)="toSection('skills')">Skills</button>
      <button mat-menu-item (click)="toSection('photos')">Photos</button>
    </mat-menu>

  </div>
</mat-toolbar>

<div class="nav-spacer" id="top" fxLayout="row"></div>
