<div class="heading">
  <h3>PROJECTS</h3>
</div>

<div class="projects-background" fxLayout="row wrap" fxLayoutAlign="center center">

  <div [@hideShowFirst] class="project-container mat-elevation-z2"
    fxLayout="row wrap" fxLayoutGap="3%" fxLayoutGap.lt-md="0" fxFlex="65%" fxFlex.lt-md="80%" fxFlex.lt-sm="90%">
    <div class="project-img-container" fxFlex="35%" fxFlex.lt-md="80%" fxFlex.lt-sm="95%">
      <img src="../../assets/project_screenshots/pw_screenshot.jpg">
      <a>
        <div class="project-img-overlay">
          Current Website
          <mat-icon class="open-project-icon">web_asset</mat-icon>
        </div>
      </a>
    </div>
    <div class="project-description" fxFlex="60%" fxFlex.lt-md="80%" fxFlex.lt-sm="95%">
      <h4>Personal Website (Current Website)</h4>
      <p>Built my personal website that includes details about myself and projects that I have done using <b>Angular</b>.
      </p>
      <div class="project-button-container" fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="end">
        <button mat-raised-button color="primary">Source code</button>
      </div>
    </div>
  </div>

  <div [@hideShowSecond] class="project-container mat-elevation-z2"
    fxLayout="row wrap" fxLayoutGap="3%" fxLayoutGap.lt-md="0" fxFlex="65%" fxFlex.lt-md="80%" fxFlex.lt-sm="90%">
    <div class="project-img-container" fxFlex="35%" fxFlex.lt-md="80%" fxFlex.lt-sm="95%">
      <img src="../../assets/project_screenshots/sd_project_screenshot.jpg">
      <a href="https://github.com/kibbum-cho/course_projects/tree/master/Software%20Engineering" target="_blank">
        <div class="project-img-overlay">
          Check the source code
          <mat-icon class="open-project-icon">launch</mat-icon>
        </div>
      </a>
    </div>
    <div class="project-description" fxFlex="60%" fxFlex.lt-md="80%" fxFlex.lt-sm="95%">
      <h4>Movie and TV show Review Website<br>(similar to Rotten Tomatoes)</h4>
      <p>Built a Movie and TV show review web application (similar to Rotten Tomatoes) that users can read and write reviews, watch trailers, check photos and other details about the movies and TV shows using <b>Java Spring MVC Framework, Bootstrap, jQuery, Ajax, Thymeleaf and MySQL</b>.
      </p>
      <div class="project-button-container" fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="end">
        <a href="https://github.com/kibbum-cho/course_projects/tree/master/Software%20Engineering" target="_blank">
          <button mat-raised-button color="primary">Source code</button>
        </a>
      </div>
    </div>
  </div>

  <div [@hideShowThird] class="project-container mat-elevation-z2"
    fxLayout="row wrap" fxLayoutGap="3%" fxLayoutGap.lt-md="0" fxFlex="65%" fxFlex.lt-md="80%" fxFlex.lt-sm="90%">
    <div class="project-img-container" fxFlex="35%" fxFlex.lt-md="80%" fxFlex.lt-sm="95%">
      <img src="../../assets/project_screenshots/ds_project_screenshot.jpg">
      <a href="../../assets/project_related/cancer_classification.html" target="_blank">
        <div class="project-img-overlay">
          Open the Project
          <mat-icon class="open-project-icon">launch</mat-icon>
        </div>
      </a>
    </div>
    <div class="project-description" fxFlex="60%" fxFlex.lt-md="80%" fxFlex.lt-sm="95%">
      <h4>Cancer	Classification</h4>
      <p><b>Part I:</b><br>Performed different data analyses on RNAseq gene expression data collected from 500 (COAD) Colon adenocarcinoma tumors (one of prevalent types of cancer) from TCGA data Portal.
      </p>
      <p>
        <b>Part II:</b><br>Classified the mRNA data pertaining two different subtypes of breast cancer using <b>Python and Jupyter Notebook</b>.
      </p>
      <div class="project-button-container" fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="end">
        <a href="../../assets/cancer_classification.html" target="_blank">
          <button mat-raised-button color="primary">Check it out</button>
        </a>
        <a href="https://github.com/kibbum-cho/course_projects/tree/master/Programing%20for%20Data%20Science" target="_blank">
          <button mat-raised-button color="primary">Source code</button>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="spacer"></div>