.heading {
    letter-spacing: 10px;
    margin-bottom: 0;
}

h4 {
    letter-spacing: 1.5px;
}

.projects-background {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

.project-container {
    background-color: #F0EFEA;
    padding: 20px 1% 20px 1%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project-container:not(:last-child) {
    margin-bottom: 2em;
}

.project-img-container {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

.project-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #DEEAF0;
    color: #0b2650;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-img-container:hover .project-img-overlay {
    opacity: 0.8;
}

.project-img-container>img {
    width: 100%;
}

.open-project-icon {
    margin-left: 5px;
}

.project-description h4{
    margin-top: 0;
}

.project-description p{
    margin-top: 0;
}

@media screen and (max-width: 959px) {
    .project-description h4{
        margin-top: 1em;
    }
}

.project-button-container {
    align-self: flex-end;
    margin-top: 5px;
    size: 0.85em;
}