<div class="heading">
  <h3>SKILLS</h3>
</div>

<div fxLayout="row" fxLayoutAlign="center">
  <div class="skills-container" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="skill-box" fxFlex="0 1 150px">
      Java
      <button mat-button class="skill-overlay">
        Related Project
      </button>
    </div>
    <div class="skill-box" fxFlex="0 1 150px">
      Python
      <button mat-button class="skill-overlay">
        Related Project
      </button>
    </div>
    <div class="skill-box" fxFlex="0 1 150px">
      C
      <button mat-button class="skill-overlay">
        Related Project
      </button>
    </div>
    <div class="skill-box" fxFlex="0 1 150px">
      C#
      <button mat-button class="skill-overlay">
        Related Project
      </button>
    </div>
    <div class="skill-box" fxFlex="0 1 150px">
        Angular
      <button mat-button class="skill-overlay">
        Related Project
      </button>
    </div>
    <div class="skill-box" fxFlex="0 1 150px">
      HTML
      <button mat-button class="skill-overlay">
        Related Project
      </button>
    </div>
    <div class="skill-box" fxFlex="0 1 150px">
      CSS
      <button mat-button class="skill-overlay">
        Related Project
      </button>
    </div>
    <div class="skill-box" fxFlex="0 1 150px">
      jQuery
      <button mat-button class="skill-overlay">
        Related Project
      </button>
    </div>
    <div class="skill-box" fxFlex="0 1 150px">
      Ajax
      <button mat-button class="skill-overlay">
        Related Project
      </button>
    </div>
    <div class="skill-box" fxFlex="0 1 150px">
      Thymeleaf
      <button mat-button class="skill-overlay">
        Related Project
      </button>
    </div>
    <div class="skill-box" fxFlex="0 1 150px">
      MySQL
      <button mat-button class="skill-overlay">
        Related Project
      </button>
    </div>
    <div class="skill-box" fxFlex="0 1 150px">
      SQL
      <button mat-button class="skill-overlay">
        Related Project
      </button>
    </div>
  </div>
</div>