<div class="heading">
  <h3>SKILLS</h3>
</div>

<div fxLayout="row" fxLayoutAlign="center">
  <div class="skills-container" fxLayout="row wrap" fxLayoutAlign="center center">
    <div *ngFor="let skill of programmingSkills; index as i" class="skill-box-container">
      <div [@slideOpen]="states[i]" class="skill-box programming">
        {{skill}}
        <button routerLink="/projects" mat-button class="skill-overlay">
          Related Project
        </button>
      </div>
    </div>
    <div *ngFor="let skill of otherSkills; index as i" class="skill-box-container">
      <div [@slideOpen]="states[i+programmingSkills.length]" class="skill-box other">
        {{skill}}
      </div>
    </div>
  </div>
</div>