/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css?family=Muli');

body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    color: #0b2650;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
  
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.spacer {
    background-color: #EAE4E2;
    display: flex;
    height: 10rem;
}

.heading {
    display: flex;
    height: 7em;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #EAE4E2;
    margin-bottom: 30px;
    word-spacing: 3px;
    letter-spacing: 3px;
}